.body-detail-container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: #053742;
    justify-content: center;
    align-items: center;
}

.detail-container{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detail-left-container {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.detail-right-container {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.dorayaki-name {
    display: flex;
    color: white;
    justify-content: center;
}

.detail-content {
    display: flex;
    flex-direction: row;
    color: white;
}

.detail-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.belibtn {
    background-color: #39A2DB;
    color: #FFFFFF;
    height: 30px;
    width: 200px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yes {
    background-color: #39A2DB;
    color: #FFFFFF;
    height: 30px;
    width: 200px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dorayaki-price {
    display: flex;
    font-size: 20px;
}

.detail-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 10px;
    
}

.dorayaki-desc {
    display: flex;
    font-size: 20px;
}







